.editor {
  background: #ECECEC;
}

.document {
  background: #595959;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  background: white;
  width: 8.5in;
  height: 11in;
  margin: 32px;
}